.btn-p, .btn-p:hover, .btn-p:focus {
    background: #ffd300;
    color: #344b90 !important;
    border-radius: 35px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: none;
    line-height: 20px;
    outline: none;
    border: none;
    padding: 13px 40px;
}
.app-root{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    margin-top: 55px;
    background: #f4f4f7;
}

section{
    .lm-container{
        display: block;
        background: #f4f4f7;
        display: block;
        .lm-serachbox{
            height: 12em;
            background: #1e2254;
            .lm-serachbox-super{
                position: relative;
                width: 100%;
                margin: 0 auto;
            }
            .searchbar-input-container{
                width: 100%;
                margin: 0px auto;
                padding: 20px 80px 20px 15px;
                .searchbar-input{
                    border: none;
                    border-bottom: 0.1px solid #3A4287;
                    border-radius: 0;
                    padding-left: 0px !important;
                    font-weight: 300 !important;
                    font-size: 1.1em;
                    height: 36px;
                    color: #ffffff;
                    background-color: transparent;
                    width:100%;
                    background: url("../../img/action/icon-search-blue.svg") no-repeat scroll 100% 60%;
                    background-size: 20px;
                }
                
            }
            .searchbar-map{
                    position: absolute;
                    right: 15px;
                    top: 31px;
                    padding-left: 12px;
                    border-left: 0.1px solid #3A4287;
                    a{
                        padding-left: 7px;
                        display: block;
                    }
                    .map-icon-toggle{
                        background-image: url("../../img/action/icon-mapView.svg");
                        height: 25px;
                        width: 25px;
                        background-repeat: no-repeat;
                        display: block;
                    }
                }
            
        }
        .lm-listing-container{
            display: block;
            height:100%;
            position: relative;
            .lm-listing{
                width: 92%;
                top: -85px;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 45px;
                .lm-list{
                    article{
                        position: relative;
                        img{
                            border:10px solid #fff;
                        }
                        .lmbutton{
                            position: absolute;
                            bottom: -53px;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                            width: 100%;
                        }
                    }
                    background: #fff;
                    padding-bottom: 30px;
                    margin-bottom: 45px;
                    border: 1px solid #f0f0f0;
                    .card-content{
                        padding: 0;
                        line-height: 1.4;
                        display: block;
                        .card-title{
                            padding: 12px 10px 16px 10px;
                            font-size: 16px;
                            font-weight: 500;
                            color: #333;
                            line-height: 1.2;
                        }
                        .container{
                            font-size: 12px;
                            width:100%;
                            .sub-container{
                                border-bottom: 1px solid #f0f0f0;
                                .col-xs-6:first-child{
                                    border-right: 1px solid #f0f0f0;
                                    padding-left: 22px;
                                    padding-right:0px;
                                }
                            }
                            .col-xs-6{
                                position: relative;
                                color: #888;
                            }
                            .grid-row,.grid-distance,.grid-direction{
                                display: block;
                            }
                            .lm-distance{
                                margin-left: 12px;
                                margin-bottom: 5px;
                                a{
                                    color: #5d5199;
                                    text-decoration: none;
                                }
                            }
                            .lm-time{
                                padding:7px 0px;
                                color: #888;
                            }
                            center.grid-number{
                                line-height: 2.4em;
                                position: relative;
                                width: 150px;
                                margin: 0 auto;
                            }
                            .icon-direction{
                                background-image: url("../../img/action/Icon-form-location.svg");
                                height: 25px;
                                width: 25px;
                                background-repeat: no-repeat;
                                display: block;
                                background-size: 20px;
                                position: absolute;
                                left:8px;
                                top: 4px;
                            }
                            .icon-mobile{
                                background-image: url("../../img/action/Icon-form-mobileNumber.svg");
                                height: 25px;
                                width: 25px;
                                background-repeat: no-repeat;
                                display: block;
                                position: absolute;
                                background-size: 15px;
                                left: 17px;
                                top: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
		and (-webkit-min-device-pixel-ratio: 2) {
            .lm-listing{
                width: 72% !important;
            }
            .searchbar-input-container{
                width: 75% !important;
            }
            .searchbar-map{
                right:14% !important;
            }
            .grid-distance , .grid-direction{
                display: inline !important;
            }
            .lm-distance{
                line-height: 2.4em;
            }
        }