<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>MAINEVENT</title>
	<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="manifest" href="manifest.json">
	<meta name="theme-color" content="#4e8ef7">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link href="../style/css/bootstrap.css" rel="stylesheet">
	<link href="../style/css/setup.css" rel="stylesheet">
	<link href="../style/css/header.css" rel="stylesheet">
	<link href="../style/css/select-package.css" rel="stylesheet">
	<link href="../style/css/footer.css" rel="stylesheet">
</head>
<body>
<header class="header header-md">
	<nav class="toolbar toolbar-md">
		<div class="toolbar-title toolbar-title-md">
			<!--<img src="../img/logo-second.svg">-->
			Select a Package
		</div>
		<div class="mini-cart">
			<a href="javascript:void(0)">
				<span class="mini-cart-count">5</span>
				<ion-icon class="mini-cart-icon" name="mini-cart-icon">&nbsp;</ion-icon>
			</a>
		</div>
	</nav>
</header>
<section class="app-root">
	<div class="lm-container">
		<div class="lm-serachbox">
			 <div class="lm-message">
				 <p>
					 Fort worth main event, 4801 city lake blvd, E fort worth tx 78454
				 </p>
				 <a class="lm-change-link" href="#"><span class="edit"></span>Change</a>
			 </div>
			 <div class="lm-compare-packages">
				 <a href="#">Compare Packages </a>
			 </div>
		</div>
		<div class="lm-listing-container">
			<div class="lm-listing">
				<div class="lm-list">
					<article>
						<div class="lm-birthday-banner">
							<img src="../img/birthday-select-package-banner-1.png">
							<span  class="lm-package-name">Ultimate Party Package</span>
						</div>
						
						<div class="card-content">
							<div class="card-title card-title-ios">
								From $29.50 per Person
							</div>
								<input type="checkbox" class="lm-toggle-box" id="check_id_1"/>
    							<label for="check_id_1" class="lm-toggle-box-label">Details</label>
							<div class="detail-list">
								<ul>
									<li><span>3 Hour Party time</span></li>
									<li><span>4 Activities for all kids</span></li>
									<li><span>$10 Funcard for all kids </span></li>
									<li><span>1000 Winning points for the birthday child(Funcard)</span></li>
									<li><span>3 Hour Party time</span></li>
									<li><span>4 Activities for all kids</span></li>
									<li><span>$10 Funcard for all kids </span></li>
								</ul>
							</div>
						</div>
						<div class="container lmbutton">
							<div class="col-xs-12">
								<input type="button" class="btn btn-p btn-block mobile-btn" ng-click="" value="Book Now">
							</div>
						</div>
				</article>
				
			</div>

			<div class="lm-list">
					<article>
						<div class="lm-birthday-banner">
							<img src="../img/birthday-select-package-banner-2.png">
							<span  class="lm-package-name">Ultimate Party Package</span>
						</div>
						<div class="card-content">
							<div class="card-title card-title-ios">
								From $29.50 per Person
							</div>
								<input type="checkbox" class="lm-toggle-box" id="check_id_2"/>
    							<label for="check_id_2" class="lm-toggle-box-label">Details</label>
							<div class="detail-list">
								<ul>
									<li><span>3 Hour Party time</span></li>
									<li><span>4 Activities for all kids</span></li>
									<li><span>$10 Funcard for all kids </span></li>
									<li><span>1000 Winning points for the birthday child(Funcard)</span></li>
									<li><span>3 Hour Party time</span></li>
									<li><span>4 Activities for all kids</span></li>
									<li><span>$10 Funcard for all kids </span></li>
								</ul>
							</div>
						</div>
						<div class="container lmbutton">
							<div class="col-xs-12">
								<input type="button" class="btn btn-p btn-block mobile-btn" ng-click="" value="Book Now">
							</div>
						</div>
				</article>
				
			</div>
		</div>
			
		</div>
	</div>
</section>
<footer>
	<div class="row">
	  <div class="footertab col-xs-2">
	  	<a class="tab-button has-icon active" href="#" role="tab" id="tab-t0-0">
			<span class="tab-button-icon tabhome"></span>
			<span class="tab-button-text">HOME</span>
		</a>
	  </div>
	  <div class="footertab col-xs-2 col-half-offset">
	  	<a class="tab-button has-icon" href="#" role="tab" id="tab-t1-1">
			<span class="tab-button-icon tabfuncard"></span>
			<span class="tab-button-text">FUNcard</span>
		</a>
	  </div>
	  <div class="footertab col-xs-2 col-half-offset">
	  	<a class="tab-button has-icon" href="#" role="tab" id="tab-t2-2">
			<span class="tab-button-icon tabaccount"></span>
			<span class="tab-button-text">ACCOUNT</span>
		</a>
	  </div>
	  <div class="footertab col-xs-2 col-half-offset">
	  	<a class="tab-button has-icon" href="#" role="tab" id="tab-t3-3">
			<span class="tab-button-icon tablocation"></span>
			<span class="tab-button-text">LOCATION</span>
		</a>
	  </div>
	  <div class="footertab col-xs-2 col-half-offset">
	  	<a class="tab-button has-icon" href="#" role="tab" id="tab-t3-3">
			<span class="tab-button-icon tabbooknow"></span>
			<span class="tab-button-text">BOOK NOW</span>
		</a>
	  </div>
	</div>
</footer>


<div class="mini-cart">
	<a href="javascript:void(0)">
		<span class="mini-cart-count">5</span>
		<i class="mini-cart-icon icon icon-md ion-md-mini-cart-icon" name="mini-cart-icon" role="img" aria-label="mini cart-icon">&nbsp;</ion-icon>
	</a>
</div>
</body></html>